
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 15s linear infinite;
}




.background li:nth-child(0) {
  left: 46%;
  width: 115px;
  height: 115px;
  bottom: -115px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 35%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 4s;
}
.background li:nth-child(2) {
  left: 56%;
  width: 175px;
  height: 175px;
  bottom: -175px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 59%;
  width: 111px;
  height: 111px;
  bottom: -111px;
  animation-delay: 13s;
}
.background li:nth-child(4) {
  left: 75%;
  width: 178px;
  height: 178px;
  bottom: -178px;
  animation-delay: 1s;
}
.background li:nth-child(5) {
  left: 1%;
  width: 195px;
  height: 195px;
  bottom: -195px;
  animation-delay: 21s;
}
.background li:nth-child(6) {
  left: 70%;
  width: 186px;
  height: 186px;
  bottom: -186px;
  animation-delay: 11s;
}
.background li:nth-child(7) {
  left: 31%;
  width: 145px;
  height: 145px;
  bottom: -145px;
  animation-delay: 15s;
}
.background li:nth-child(8) {
  left: 44%;
  width: 130px;
  height: 130px;
  bottom: -130px;
  animation-delay: 27s;
}
.background li:nth-child(9) {
  left: 5%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 43s;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.header {
    height: 70px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    /* background: rgb(18, 18, 18); */
    background: rgba(5, 5, 5, 0.5);
    -webkit-backdrop-filter: blur(130px);
    backdrop-filter: blur(50px);
    z-index: 123;
}




.logo {
    float: left;
    padding-left: 23px;
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

.logo h1 {
    font-size: 17px;
}




.navbar {
    padding-right: 14px;
    float: right;
}

.navbar a {
    float: right;
    align-self: center;

    display: block;
    color: grey;
    text-align: center;
    font-size: 16px;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(213, 213, 213);
}


.fullscreenSection {
    width: 100vw;
    height: 100vh;
    padding-left: 10vw;
    /* padding-top: 20vw; */
    /* position: absolute; */
    display: flex;
    flex-flow: column;
    justify-content: center;

}

.fullscreenSection h1 {
    font-size: 35px;
    color: white;
}

.fullscreenSection h2 {
    font-size: 25px;
    line-height: 50%;
    color: white;
}

.fullscreenSection p {
    font-size: 18px;
    line-height: 00%;
    color: lightgrey;
    color: rgb(172, 172, 172)
}



.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: white;
    text-align: center;
}

.backgroundCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}







html {
    scroll-behavior: smooth;
}
